body {
  padding: 50px;
  font: 18px "Garamond", Helvetica, Arial, sans-serif;
    background-color: #e2e2e2;
  height: auto;
}
body header h2 {
  font: 36px "Garamond";
  color: grey;
}
body header h3 {
    color: #4c4c4c;
}
body form h3 {
  padding-top: 1em;
}
#usnplace {
  float: right;
  margin: 0;
  padding: 0 10px 0 10px;
    border: 4px #939393;
    border-style: inset inset inset inset;
  width: relative;
}
#navi {
    margin-left: 20%;
}
#nav_menu ul {
	list-style: none;
	position: relative;
    border: 4px #939393;
    border-style: inset inset inset inset;
    height: 2.5em;
    width: 75%
}
#nav_menu ul li {
	float: left;
	padding: .7em 0 .7em 0;
}

#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 100%;
      padding-left: 20px;
      padding-right: 40px;
	text-decoration: none;
	font-size: 20px;
}
#nav_menu ul li a.current {
	color: black !important;
}
@media (max-width: 1484px) {
  #navi {
    height: 12em;
  }
  #nav_menu {
    float: right;
    margin: 0;
    padding: 0;
    width: 9.3125em;
    border: 4px #939393;
    border-style: inset none inset none;
  }
  #nav_menu ul {
	list-style: none;
	position: relative;
    border: none;
    height: 2.5em;
    width: 75%;
  }
  #nav_menu ul li.test {
    border: none;
    width: 100%;
  }
  #nav_menu ul li {
	list-style: none;
	position: relative;    /* So the submenus can be positioned */
    border: 4px #939393;
    border-style: none inset none inset;
  }
  #nav_menu ul li a {
	width: 8em;
      padding-left: 0;
      padding-right: 0;
  }
  #adjust {
    padding-top: 15px;
  }
  #searchTerm {
	text-align: center;
	display: block;
	width: 8em;
	text-decoration: none;
	font-size: 19px;
  }
  #button2 {
    float: center;
    width: 100%;
  }
  .product-list {
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(160px, 250px));
    gap: 0;
    padding: 0;
  }
}

input.searchTerm {
  background-color: grey;
  color: white;
  border-style: none;
  margin: auto;
}

#adjust3 {
  color: grey;
}

textarea {
  background-color: grey;
  color: white;
  border-style: none;
  margin: auto;
}

a {
  color: grey;
}
a:hover {
  color: black;
}

section {
  text-align: center;
  padding-top: 15px;
}

main {
    color: #4c4c4c;
}

main form input {
    background-color: #eaeaea;
}

.message1 {
  text-align: center;
  font: 36px "Garamond";
  color: grey;
  padding: 30px;
}

.message2 {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.button {
    background-color: #4c4c4c;
    border-style: none;
    color: white;
}
@media (max-width: 1484px) {
  .adjust2 {
    width: 8.9em;
    margin: 0;
  }
}

@media (min-width: 1484px) {
  .adjust2{
    margin-left:15px;
  }
}

#flash-msg {
  padding-top: 1em;
}

#img {
    border: 4px #939393;
    border-style: inset inset inset inset;
    width: 80%;
}

.temp {
    border: 4px #939393;
    border-style: none none inset none;
    padding-bottom: 5px;
}

.comments {
    padding-bottom: 5px;
}

.comment-box-text{
  height: 100px;
  width: 80%;
}

#comment-button{
  padding-top: 0;
  height: 50px;
  width: 80%;
}

.comment_space {
  text-align: center;
  width: 70%;
}

.comment-content1{
  display: block;
  margin: 10px auto 10px auto;
    border: 4px #939393;
    border-style: inset none none none;
    padding: 5px 0 5px 10px;
  text-align: left;
  width: 70%;
}

.comment-content2{
  display: block;
  margin: 10px auto 10px auto;
    border: 4px #939393;
    border-style: none none inset none;
    padding: 5px 0 5px 10px;
  text-align: right;
  width: 70%;
}

.comment-content3{
  display: flex;
  margin: 10px auto 10px auto;
  margin-bottom: 10px;
    border: 4px #939393;
    border-style: inset;
    padding: 5px 0 5px 10px;
  text-align: center;
  width: 70%;
}

footer {
    color: #4c4c4c;
    text-align: center;
}

//================================================================

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

body {
    width: 90%;
    margin: auto;
}



.post-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(160px, 250px));
    gap: 1rem;
    padding: 1em;
}

.post-card {
    display: grid;
    border-radius: .35em;
    box-shadow: 2px 2px 10px 2px #eee;
    grid-template-areas: "info";
    margin-top: auto;
    margin-bottom: auto;
}

.post-img {
    grid-area: info;
    height: 200px;
    width: 250px;
    border-radius: .35rem ;
    border-radius: .35rem ;
    object-fit: cover;
}

.post-info {
    grid-area: info;
    display: flex;
    width: 100%;
    z-index: 3;
    justify-self: center;
    padding: .3em;
    align-self: flex-end;
    background-color: #000000;
    font-size: .8rem;
}

.post-title {
    margin: 0;
    background-color: transparent;
}

.post-cost::before {
    content: "  $";
    padding-left: 20%;
}


.post-cost {
    margin: 0;
    background-color: transparent;
}